<!DOCTYPE html>
<html>

  <head>
    <title>Find My Word</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/litera/bootstrap.min.css">
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <h1 class="navbar-brand">Find My Word</h1>
    </nav>

    <div id="app" class="container pt-5">

      <div class="row">
        <div class="col">
          <form>
            <input type="text" name="word" class="form-control" @input="inputChange" />
          </form>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col">
          <h2>Results</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3>French words</h3>

          <ul class="list-unstyled">
            <li v-for="value in results" v-html="value">
            </li>
          </ul>
        </div>


        <div class="col">
          <h3>English words</h3>

          <ul>
            <li v-for="value in results" v-html="value">
            </li>
          </ul>
        </div>
      </div>





    </div>


    <script src="https://unpkg.com/vue"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          results: []
        },
        methods: {
          inputChange : (event) => {
            // compatible with IE7+, Firefox, Chrome, Opera, Safari
            var xmlhttp;
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
                  let data = JSON.parse(xmlhttp.responseText);
                  app.results = data.results;
                }
            }

            xmlhttp.open("GET", "/query/" + event.target.value, true);
            xmlhttp.send();
          }
        }
      });
    </script>
  </body>
</html>



